header {
  padding: 10px 0;
  background-color: rgb(25, 28, 36);
  color: white;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-menu {
      display: flex;
      column-gap: 50px;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .admin {
      display: flex;
      align-items: center;
      column-gap: 20px;
      img {
        width: 40px;
        height: 40px;
      }
      .dropdown{
        button{
            color: white;
        }
      }
    }
  }
}
