header {
  padding: 10px 0;
  background-color: rgb(25, 28, 36);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-menu {
      display: flex;
      column-gap: 50px;
      align-items: center;
      //   margin-right: 150px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .admin {
      display: flex;
      align-items: center;
      column-gap: 20px;
      img {
        width: 40px;
        height: 40px;
      }
      .dropdown {
        button {
          color: white;
        }
      }
    }
  }
}
#left-bars {
  background-color: rgb(25, 28, 36);
  //   display: none;
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 1111;
  top: 80px;
  @media screen and (max-width: 991px) {
    display: none;
  }
  &.show-mobile {
    display: block;
  }
  .left-bars {
    .left-bars-title {
      //   display: none;
      padding-left: 10px;
      .admin-info {
        padding: 30px 0 20px;
        display: flex;
        column-gap: 20px;
        .admin-name {
          display: flex;
          flex-direction: column;

          h5 {
            font-size: 18px;
            margin-bottom: 0;
            color: white;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .bars-content {
        color: white;
        padding-left: 0;
        li {
          padding-bottom: 20px;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  &.show-bars {
    display: none;
  }
}

#admin-panel {
  // padding-left: 300px;
  padding-top: 80px;
  .admin-panel {
    .title {
      padding-bottom: 50px;
      color: white;
      &::after {
        content: "";
        width: 20%;
        height: 1px;
        background-color: blue;
        display: block;
        margin: 10px 0;
      }
    }

    table {
      thead {
        tr {
          th {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          // display: flex;
          text-align: center;

          td {
            text-align: center;
            // padding: 10px;
            vertical-align: middle;

            img {
              width: 40px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    strong {
      color: rgb(65, 3, 3);
      font-size: 24px;
    }
    h5 {
      font-size: 24px;
      font-weight: 700;
      padding: 20px 0;
    }
    p {
      font-size: 18px;
    }
    .close {
      border: none;
      background: transparent;
      span {
        font-size: 24px;
      }
    }
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}
