* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Roboto", sans-serif;
}
* ::-moz-selection {
  background-color: #e50914;
}
* ::selection {
  background-color: #e50914;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  padding: 0 3%;
  margin: auto;
}

header {
  padding: 10px 0;
  background-color: #415a77;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -webkit-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -moz-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
}
header .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header .logo-menu {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
header .header .admin {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .header .admin .letter {
  position: relative;
}
header .header .admin .letter a {
  color: white;
}
header .header .admin .letter .count {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #0d1b2a;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  left: 15px;
}
header .header .admin .dropdown button {
  color: white;
}

#left-bars {
  background-color: #415a77;
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 1111;
  top: 0;
}
#left-bars .left-bars {
  box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -webkit-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -moz-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
}
#left-bars .left-bars .left-bars-title {
  padding-left: 10px;
}
#left-bars .left-bars .left-bars-title .admin-info {
  padding: 15px 0 20px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name {
  display: flex;
  flex-direction: column;
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name h5 {
  font-size: 18px;
  margin-bottom: 0;
  color: white;
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name p {
  font-size: 12px;
}
#left-bars .left-bars .left-bars-title .bars-content {
  color: #e0e1dd;
  padding-left: 0;
  padding-top: 30px;
}
#left-bars .left-bars .left-bars-title .bars-content li {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#left-bars .left-bars .left-bars-title .bars-content li i {
  color: #1b263b;
}
#left-bars .left-bars .left-bars-title .bars-content li a {
  color: white;
}
#left-bars .left-bars .left-bars-title img {
  width: 40px;
  height: 40px;
}

#admin-panel {
  padding-left: 300px;
  padding-top: 80px;
}
#admin-panel .admin-panel .title {
  padding-bottom: 50px;
  color: #0d1b2a;
  position: relative;
}
#admin-panel .admin-panel .title::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #0d1b2a;
  display: block;
  margin: 10px 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
#admin-panel .admin-panel table thead tr th {
  text-align: center;
  background-color: #415a77;
  color: #e0e1dd;
}
#admin-panel .admin-panel table tbody tr {
  text-align: center;
}
#admin-panel .admin-panel table tbody tr td {
  text-align: center;
  background-color: #e0e1dd;
  vertical-align: middle;
}
#admin-panel .admin-panel table tbody tr td img {
  width: 40px;
  border-radius: 50%;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.modal-dialog .modal-content {
  background-color: #e0e1dd;
}
.modal-dialog .modal-content strong {
  background: linear-gradient(90deg, #4169e1, #5768df, #8164d7, #aa60c8, #cc60b3, #e3689c, #ed7889, #ee8c7e, #e99e7c, #e4ac7f, #e0b585, #deb887, orange);
  background-size: 200%;
  /* Background Text Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */
  background-clip: text;
  animation: gradient-text-animation 3s alternate infinite;
  font-size: 18px;
}
.modal-dialog .modal-content h5 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #4169e1;
}
.modal-dialog .modal-content p {
  font-size: 18px;
}
.modal-dialog .modal-content .close {
  border: none;
  background: transparent;
}
.modal-dialog .modal-content .close span {
  font-size: 24px;
}

/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
#films-panel {
  padding-top: 100px;
  padding-left: 300px;
}
#films-panel .films-panel .card {
  box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
  -webkit-box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
  -moz-box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/img/bg (1).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border: none;
}
#films-panel .films-panel .card .count {
  font-size: 20px;
}
#films-panel .films-panel .card h4 {
  font-weight: 700;
}
#films-panel .films-panel .search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
#films-panel .films-panel .search-sort input {
  padding: 5px 0;
  width: 300px;
  text-indent: 5px;
  background-color: #415a77;
  border: none;
  color: white;
}
#films-panel .films-panel .search-sort input:focus {
  outline: none;
}
#films-panel .films-panel .search-sort input::-moz-placeholder {
  color: white;
}
#films-panel .films-panel .search-sort input::placeholder {
  color: white;
}
#films-panel .films-panel .search-sort .dropdowns {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu {
  background-color: #415a77;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu li:hover a {
  color: black;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu li a {
  transition: 1s;
  color: white;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown button {
  color: #415a77;
}
#films-panel .films-panel table thead tr th {
  text-align: center;
  background-color: #415a77;
  color: #e0e1dd;
}
#films-panel .films-panel table tbody tr {
  text-align: center;
}
#films-panel .films-panel table tbody tr td {
  text-align: center;
  background-color: #e0e1dd;
  vertical-align: middle;
}
#films-panel .films-panel table tbody tr td img {
  width: 40px;
  height: 40px;
}
#films-panel .films-panel .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#films-panel .films-panel .button #load-more {
  padding: 10px 50px;
  border: none;
  background-color: #415a77;
  color: #0d1b2a;
  font-size: 18px;
  transition: 1s;
}
#films-panel .films-panel .button #load-more:hover {
  color: #e0e1dd;
  background-color: #0d1b2a;
}

.custom-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-modal-dialog .modal-content #userModalBody {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.custom-modal-dialog .modal-content #userModalBody .img {
  display: flex;
  align-items: center;
}
.custom-modal-dialog .modal-content #userModalBody .img img {
  width: 200px;
}
.custom-modal-dialog .modal-content #userModalBody .content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.custom-modal-dialog .modal-content #userModalBody .content .title {
  font-size: 24px;
  font-weight: 700;
  color: #415a77;
  padding: 0;
  margin: 0;
}
.custom-modal-dialog .modal-content #userModalBody .content strong {
  font-size: 18px;
}
.custom-modal-dialog .modal-content .close {
  border: none;
  background: transparent;
}
.custom-modal-dialog .modal-content .close span {
  font-size: 24px;
}

#add-movies {
  padding-top: 80px;
  padding-left: 550px;
}
#add-movies .add-movies form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
#add-movies .add-movies form label {
  color: #0d1b2a;
}
#add-movies .add-movies form h3 {
  color: #0d1b2a;
}
#add-movies .add-movies form textarea {
  background-color: #778da9;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}
#add-movies .add-movies form textarea::-moz-placeholder {
  color: white;
}
#add-movies .add-movies form textarea::placeholder {
  color: white;
}
#add-movies .add-movies form textarea:focus {
  outline-color: #415a77;
  box-shadow: -3px -3px 15px #1b263b;
  transition: 0.1s;
  transition-property: box-shadow;
}
#add-movies .add-movies form #imginp {
  padding: 10px;
}
#add-movies .add-movies form input,
#add-movies .add-movies form select {
  padding: 10px;
  width: 100%;
  color: #e0e1dd;
  /* text-align: center; */
  background-color: #778da9;
  border: 2px solid white;
  border-radius: 5px;
}
#add-movies .add-movies form input::-moz-placeholder, #add-movies .add-movies form select::-moz-placeholder {
  color: white;
}
#add-movies .add-movies form input::placeholder,
#add-movies .add-movies form select::placeholder {
  color: white;
}
#add-movies .add-movies form input:focus,
#add-movies .add-movies form select:focus {
  outline-color: #415a77;
  box-shadow: -3px -3px 15px #1b263b;
  transition: 0.1s;
  transition-property: box-shadow;
}
#add-movies .add-movies form #add {
  margin-top: 15px;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #0d1b2a;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
#add-movies .add-movies form #add::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#add-movies .add-movies form #add::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
#add-movies .add-movies form #add:hover::after {
  filter: blur(30px);
}
#add-movies .add-movies form #add:hover::before {
  transform: rotate(-180deg);
}
#add-movies .add-movies form #add:active::before {
  scale: 0.7;
}

#comments {
  padding: 100px 0 100px 280px;
}
#comments .comments .cards-row h2 {
  color: #0d1b2a;
  text-align: center;
}
#comments .comments .cards-row .card {
  box-shadow: 0px -3px 28px 4px rgba(17, 0, 158, 0.54);
  -webkit-box-shadow: 0px -3px 28px 4px rgba(17, 0, 158, 0.54);
  -moz-box-shadow: 0px -3px 28px 4px rgba(17, 0, 158, 0.54);
  cursor: pointer;
  overflow: hidden;
  border: none;
}
#comments .comments .cards-row .card:hover img {
  transform: scale(1.2);
}
#comments .comments .cards-row .card img {
  transition: 1s;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
#comments .comments h2 {
  color: #0d1b2a;
  text-align: center;
}
#comments .comments .comment-row .comment-card {
  padding: 10px;
  background-color: rgba(134, 150, 254, 0.6509803922);
  color: #0d1b2a;
  border: none;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#comments .comments .comment-row .comment-card img {
  width: 50px;
  height: 50px;
}

#contact {
  padding-left: 300px;
  padding-top: 100px;
}
#contact .contact .card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px;
  background-color: #8da9c4;
  border-radius: 8px;
  position: relative;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
#contact .contact .card .avatar {
  padding-bottom: 10px;
}
#contact .contact .card:hover .back-card {
  transform: rotate(5deg);
}
#contact .contact .card:hover .thid-card {
  transform: rotate(-5deg);
}
#contact .contact .card.sent {
  align-self: flex-end;
}
#contact .contact .card.sent .message-content {
  text-align: right;
}
#contact .contact .card.sent .message-content .timestamp {
  text-align: right;
}
#contact .contact .card .message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#contact .contact .card .message-content .message {
  margin-bottom: 4px;
}
#contact .contact .card .message-content .timestamp {
  font-size: 12px;
  color: #888888;
}
#contact .contact .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: -1;
}
#contact .contact .card .back-card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in;
  background: linear-gradient(270deg, #134074 0%, #13315c 16%, #0b2545 82%, #8da9c4 100%);
  z-index: -1;
  box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
  -webkit-box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
  -moz-box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
}
#contact .contact .card .thid-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in;
  background: linear-gradient(270deg, #134074 0%, #13315c 16%, #0b2545 82%, #8da9c4 100%);
  z-index: -1;
  box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
  -webkit-box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
  -moz-box-shadow: 10px 10px 51px 0px rgba(141, 169, 196, 0.75);
}/*# sourceMappingURL=main.css.map */