* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Roboto", sans-serif;
}
* ::-moz-selection {
  background-color: #e50914;
}
* ::selection {
  background-color: #e50914;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  padding: 0 3%;
  margin: auto;
}

body {
  color: white;
  background-color: #f5f5f5;
}
body p {
  font-family: "Montserrat", sans-serif;
}
body.dark-mode {
  background-color: rgba(0, 0, 0, 0.904);
}
body.dark-mode header {
  background-color: #272626;
  transition: 1s;
}
body.dark-mode #left-bars {
  background-color: #272626;
  transition: 1s;
}
body.dark-mode #left-bars .left-bars {
  box-shadow: none;
}
body.dark-mode #left-bars .left-bars .bars-content li i {
  color: white;
}
body.dark-mode #admin-panel .admin-panel h4 {
  color: white;
}
body.dark-mode #admin-panel .admin-panel table thead tr th {
  background-color: #272626;
}
body.dark-mode #admin-panel .admin-panel table tbody tr td {
  background-color: rgba(209, 209, 209, 0.2117647059);
  border-color: #5a6066;
  color: white;
}
body.dark-mode #films-panel .films-panel .search-sort input {
  background-color: #272626;
}
body.dark-mode #films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu {
  background-color: #272626;
}
body.dark-mode #films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu li:hover a {
  color: black;
}
body.dark-mode #films-panel .films-panel table thead tr th {
  background-color: #272626;
}
body.dark-mode #films-panel .films-panel table tbody tr td {
  background-color: rgba(209, 209, 209, 0.2117647059);
  border-color: #5a6066;
  color: white;
}
body.dark-mode #films-panel .films-panel .button #load-more {
  background-color: #495057;
}
body.dark-mode #add-movies {
  color: white;
}
body.dark-mode #add-movies .add-movies form label,
body.dark-mode #add-movies .add-movies form h3 {
  color: white;
}
body.dark-mode #add-movies .add-movies form textarea {
  background-color: #495057;
  border: 2px solid #495057;
}
body.dark-mode #add-movies .add-movies form input,
body.dark-mode #add-movies .add-movies form select {
  background-color: #495057;
  border: 2px solid #495057;
}
body.dark-mode #add-movies .add-movies form #add {
  margin-top: 15px;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #0d1b2a;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
body.dark-mode #add-movies .add-movies form #add::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body.dark-mode #add-movies .add-movies form #add::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
body.dark-mode #add-movies .add-movies form #add:hover::after {
  filter: blur(30px);
}
body.dark-mode #add-movies .add-movies form #add:hover::before {
  transform: rotate(-180deg);
}
body.dark-mode #add-movies .add-movies form #add:active::before {
  scale: 0.7;
}
body.dark-mode #comments .comment-row .comment-title {
  color: #0d1b2a;
}
body.dark-mode #comments .comment-row .comment-card {
  padding: 10px;
  background-color: rgba(131, 131, 131, 0.3843137255);
  color: rgba(131, 131, 131, 0.3843137255);
  border: none;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body.dark-mode #comments .comment-row .comment-card img {
  width: 50px;
  height: 50px;
}
body.dark-mode #home-page .home-page .charts canvas {
  background-color: rgba(83, 83, 83, 0.1843137255);
}
body.dark-mode #home-page .home-page .statics .card {
  background-color: rgba(83, 83, 83, 0.1843137255);
}
body.dark-mode #home-page .home-page .statics .card .content p {
  color: white;
}
body.dark-mode #contact .contact table thead tr th {
  background-color: #272626;
}
body.dark-mode #contact .contact table tbody tr td {
  background-color: rgba(209, 209, 209, 0.2117647059);
  border-color: #5a6066;
  color: white;
}

header {
  padding: 25px 10px;
  color: #8690a9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #e5efef;
  background-color: #f5f5f5;
}
header .header {
  display: flex;
}
header .header p {
  margin-left: 285px;
}
header .header .logo-menu {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
header .header .admin {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: absolute;
  right: 5px;
}
header .header .admin .fa-sun {
  cursor: pointer;
}
header .header .admin .letter {
  position: relative;
}
header .header .admin .letter a {
  color: #8690a9;
  cursor: pointer;
}
header .header .admin .letter .count {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #006666;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  left: 15px;
}
header .header .admin .dropdown button {
  color: #8690a9;
}

#left-bars {
  background-color: #006666;
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 1111;
  top: 0;
  border-top-right-radius: 10px;
}
#left-bars .left-bars .left-bars-title {
  padding-left: 10px;
}
#left-bars .left-bars .left-bars-title .admin-info {
  padding: 15px 0 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name h5 {
  font-size: 18px;
  margin-bottom: 0;
  color: white;
}
#left-bars .left-bars .left-bars-title .admin-info .admin-name i {
  margin-right: 10px;
}
#left-bars .left-bars .left-bars-title .bars-content {
  color: #e0e1dd;
  padding-left: 0;
  padding-top: 30px;
}
#left-bars .left-bars .left-bars-title .bars-content li {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#left-bars .left-bars .left-bars-title .bars-content li i {
  color: white;
}
#left-bars .left-bars .left-bars-title .bars-content li a {
  color: white;
  letter-spacing: 0;
  transition: 0.35s;
}
#left-bars .left-bars .left-bars-title .bars-content li a:hover, #left-bars .left-bars .left-bars-title .bars-content li a:active {
  letter-spacing: 5px;
  transition: 0.35s;
}
#left-bars .left-bars .left-bars-title .bars-content li a:after {
  bottom: -10px;
}
#left-bars .left-bars .left-bars-title .bars-content li a:before {
  top: -10px;
}
#left-bars .left-bars .left-bars-title .bars-content li a:after, #left-bars .left-bars .left-bars-title .bars-content li a:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
#left-bars .left-bars .left-bars-title .bars-content li a:hover:after, #left-bars .left-bars .left-bars-title .bars-content li a:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}
#left-bars .left-bars .left-bars-title .bars-content li a:hover:before {
  width: 100%;
}
#left-bars .left-bars .left-bars-title img {
  width: 40px;
  height: 40px;
}

#admin-panel {
  padding-left: 280px;
  padding-top: 50px;
}
#admin-panel .admin-panel .user-title {
  color: #555555;
  font-size: 24px;
}
#admin-panel .admin-panel table thead tr th {
  text-align: center;
  background-color: #006666;
  color: #e0e1dd;
}
#admin-panel .admin-panel table tbody tr {
  text-align: center;
}
#admin-panel .admin-panel table tbody tr td {
  text-align: center;
  background-color: #e0e1dd;
  vertical-align: middle;
}
#admin-panel .admin-panel table tbody tr td .fa-eye {
  background-color: #589494;
  color: white;
}
#admin-panel .admin-panel table tbody tr td .fa-edit {
  background-color: #ffae1a;
  color: white;
}
#admin-panel .admin-panel table tbody tr td img {
  width: 40px;
  border-radius: 50%;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.modal-dialog .modal-content {
  background-color: #e0e1dd;
}
.modal-dialog .modal-content .modal-title {
  color: #0d1b2a;
}
.modal-dialog .modal-content .ques p {
  color: #0d1b2a;
  padding-bottom: 20px;
  text-align: center;
}
.modal-dialog .modal-content .buttons {
  display: flex;
  justify-content: center;
}
.modal-dialog .modal-content .buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background-color: #415a77;
  transition: 1s;
  color: white;
}
.modal-dialog .modal-content .buttons button:hover {
  background-color: #0d1b2a;
}
.modal-dialog .modal-content .content {
  color: #0d1b2a;
}
.modal-dialog .modal-content .content strong {
  background: linear-gradient(90deg, #4169e1, #5768df, #8164d7, #aa60c8, #cc60b3, #e3689c, #ed7889, #ee8c7e, #e99e7c, #e4ac7f, #e0b585, #deb887, orange);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-text-animation 3s alternate infinite;
  font-size: 18px;
}
.modal-dialog .modal-content .content h5 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #4169e1;
}
.modal-dialog .modal-content .content p {
  font-size: 18px;
}
.modal-dialog .modal-content .close {
  border: none;
  background: transparent;
}
.modal-dialog .modal-content .close span {
  font-size: 24px;
}

/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
#films-panel {
  padding-top: 100px;
  padding-left: 270px;
  padding-bottom: 50px;
}
#films-panel .films-panel .films-row p {
  color: #8690a9;
  font-size: 32px;
}
#films-panel .films-panel .search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
#films-panel .films-panel .search-sort input {
  padding: 5px 0;
  width: 300px;
  text-indent: 5px;
  background-color: #b2d1d1;
  border: none;
  color: white;
}
#films-panel .films-panel .search-sort input:focus {
  outline: none;
}
#films-panel .films-panel .search-sort input::-moz-placeholder {
  color: white;
}
#films-panel .films-panel .search-sort input::placeholder {
  color: white;
}
#films-panel .films-panel .search-sort .dropdowns {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu {
  background-color: #b2d1d1;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu li:hover a {
  color: #006666;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown .dropdown-menu li a {
  transition: 1s;
  color: white;
}
#films-panel .films-panel .search-sort .dropdowns .dropdown button {
  color: #415a77;
}
#films-panel .films-panel table thead tr th {
  text-align: center;
  background-color: #006666;
  color: #e0e1dd;
}
#films-panel .films-panel table tbody tr {
  text-align: center;
}
#films-panel .films-panel table tbody tr td {
  text-align: center;
  background-color: #e0e1dd;
  vertical-align: middle;
}
#films-panel .films-panel table tbody tr td .fa-eye {
  background-color: #589494;
  color: white;
}
#films-panel .films-panel table tbody tr td .fa-trash {
  background-color: #ff997c;
  color: white;
}
#films-panel .films-panel table tbody tr td img {
  width: 40px;
  height: 40px;
}
#films-panel .films-panel .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#films-panel .films-panel .button #load-more {
  padding: 8px 50px;
  border: none;
  background-color: #006666;
  color: white;
  font-size: 18px;
  transition: 1s;
}
#films-panel .films-panel .button #load-more:hover {
  color: #e0e1dd;
  background-color: #0d1b2a;
}

.custom-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-modal-dialog .modal-content #userModalBody {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.custom-modal-dialog .modal-content #userModalBody .img {
  display: flex;
  align-items: center;
}
.custom-modal-dialog .modal-content #userModalBody .img img {
  width: 200px;
}
.custom-modal-dialog .modal-content #userModalBody .content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.custom-modal-dialog .modal-content #userModalBody .content .title {
  font-size: 24px;
  font-weight: 700;
  color: #415a77;
  padding: 0;
  margin: 0;
}
.custom-modal-dialog .modal-content #userModalBody .content strong {
  font-size: 18px;
}
.custom-modal-dialog .modal-content .close {
  border: none;
  background: transparent;
}
.custom-modal-dialog .modal-content .close span {
  font-size: 24px;
}

#add-movies {
  padding-top: 80px;
  padding-left: 550px;
}
#add-movies .add-movies form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
#add-movies .add-movies form label {
  color: #0d1b2a;
}
#add-movies .add-movies form p {
  color: #8690a9;
  font-size: 28px;
}
#add-movies .add-movies form textarea {
  background-color: #b2d1d1;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}
#add-movies .add-movies form textarea::-moz-placeholder {
  color: white;
}
#add-movies .add-movies form textarea::placeholder {
  color: white;
}
#add-movies .add-movies form textarea:focus {
  outline-color: #415a77;
  box-shadow: -3px -3px 15px #006666;
  transition: 0.1s;
  transition-property: box-shadow;
}
#add-movies .add-movies form #imginp {
  padding: 10px;
}
#add-movies .add-movies form input,
#add-movies .add-movies form select {
  padding: 10px;
  width: 100%;
  color: #0d1b2a;
  background-color: #b2d1d1;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}
#add-movies .add-movies form input::-moz-placeholder, #add-movies .add-movies form select::-moz-placeholder {
  color: white;
}
#add-movies .add-movies form input::placeholder,
#add-movies .add-movies form select::placeholder {
  color: white;
}
#add-movies .add-movies form input:focus,
#add-movies .add-movies form select:focus {
  outline-color: #415a77;
  box-shadow: -3px -3px 15px #006666;
  transition: 0.1s;
  transition-property: box-shadow;
}
#add-movies .add-movies form #add {
  margin-top: 15px;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #006666;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
#add-movies .add-movies form #add::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#add-movies .add-movies form #add::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
#add-movies .add-movies form #add:hover::after {
  filter: blur(30px);
}
#add-movies .add-movies form #add:hover::before {
  transform: rotate(-180deg);
}
#add-movies .add-movies form #add:active::before {
  scale: 0.7;
}

#comments {
  padding: 100px 0 100px 280px;
}
#comments .comments .cards-row .card {
  cursor: pointer;
  overflow: hidden;
  border: none;
}
#comments .comments .cards-row .card:hover img {
  transform: scale(1.2);
}
#comments .comments .cards-row .card img {
  transition: 1s;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
#comments .comments .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#comments .comments .buttons button {
  padding: 10px 50px;
  border: none;
  background-color: #006666;
  color: white;
  font-size: 18px;
  transition: 1s;
}
#comments .comments .buttons button:hover {
  color: #e0e1dd;
  background-color: #0d1b2a;
}
#comments .comments p {
  color: #8690a9;
  font-size: 18px;
}
#comments .comments .comment-row .comment-title {
  color: #0d1b2a;
}
#comments .comments .comment-row .comment-card {
  padding: 10px;
  background-color: #b2d1d1;
  color: #0d1b2a;
  border: none;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#comments .comments .comment-row .comment-card img {
  width: 50px;
  height: 50px;
}

#contact {
  padding-left: 300px;
  padding-top: 100px;
}
#contact .contact table thead tr th {
  text-align: center;
  background-color: #006666;
  color: #e0e1dd;
}
#contact .contact table tbody tr {
  text-align: center;
}
#contact .contact table tbody tr td {
  text-align: center;
  background-color: #e0e1dd;
  vertical-align: middle;
}
#contact .contact table tbody tr td .fa-eye {
  background-color: #589494;
  color: white;
}
#contact .contact table tbody tr td .fa-trash {
  background-color: #ff997c;
  color: white;
}
#contact .contact table tbody tr td img {
  width: 40px;
  height: 40px;
}

#home-page .home-page {
  position: absolute;
  top: 15%;
  left: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#home-page .home-page .charts {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#home-page .home-page .charts canvas {
  background-color: white;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
}
#home-page .home-page .statics .card {
  padding: 15px;
  overflow: hidden;
  border: none;
}
#home-page .home-page .statics .card .header {
  color: #8690a9;
  font-size: 18px;
}
#home-page .home-page .statics .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-page .home-page .statics .card .content p {
  font-size: 26px;
  font-weight: 600;
}
#home-page .home-page .statics .card .content i {
  background-color: #b2d1d1;
  padding: 15px;
  border-radius: 10px;
  font-size: 24px;
}
#home-page .home-page .statics .card::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 127, 80, 0.0941176471);
  animation: moveCircle 5s linear infinite;
}

@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(400px, 400px);
  }
}/*# sourceMappingURL=main.css.map */