@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Roboto", sans-serif;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  padding: 0 5%;
  margin: auto;
}

body {
  background-color: #141414;
}

header {
  padding: 10px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 1s;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header img {
  width: 60px;
  height: 60px;
}
header .header nav ul {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header .header nav ul li a {
  color: white;
  transition: 0.5s;
}
header .header nav ul li a:hover {
  color: #e50914;
}
header .header .right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header .header .right-nav .fa-bars {
  font-size: 18px;
  color: white;
  display: none;
}
header .header .right-nav .search-user {
  display: flex;
  align-items: center;
}
header .header .right-nav .search-user .fa-search {
  color: white;
  font-size: 18px;
  display: none;
}
header .header .right-nav .search-user .search-input {
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
}
header .header .right-nav .search-user .search-input::-moz-placeholder {
  color: white;
  font-weight: 200;
}
header .header .right-nav .search-user .search-input::placeholder {
  color: white;
  font-weight: 200;
}
header .header .right-nav .notification {
  position: relative;
}
header .header .right-nav .notification span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  top: -8px;
  left: 12px;
  color: white;
}
header .header .right-nav .notification .fa-bell {
  color: white;
  font-size: 18px;
}
header .header .right-nav .account .fa-user {
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  header .header nav {
    display: none;
  }
  header .header .right-nav .fa-bars {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  header .header .right-nav {
    position: relative;
  }
  header .header .right-nav .search-user .search-input {
    position: absolute;
    top: 120%;
    right: 50%;
    display: none;
  }
  header .header .right-nav .search-user .search-input.show-inp {
    display: block;
  }
  header .header .right-nav .search-user .fa-search {
    display: block;
  }
}

#burger-menu {
  position: absolute;
  z-index: 9999;
  background-color: #141414;
  display: none;
  width: 50%;
  height: 100%;
  transition: 2s;
  left: 0;
}
#burger-menu .img-icon {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
#burger-menu .img-icon i {
  font-size: 36px;
  color: #e50914;
}
#burger-menu .img-icon img {
  width: 80px;
  height: 80px;
}
#burger-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding-top: 50px;
}
#burger-menu ul li a {
  color: white;
  font-size: 24px;
}
#burger-menu ul li::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: white;
  margin: 7px 0;
}
#burger-menu.show {
  display: block;
}
@media screen and (max-width: 767px) {
  #burger-menu {
    width: 100%;
  }
}

.carousel .carousel-item {
  position: relative;
}
.carousel .carousel-item .opacity-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel .carousel-item img {
  height: 100vh;
}
.carousel .carousel-item .carousel-caption {
  top: 25%;
  left: 12%;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  row-gap: 10px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .play-now {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .play-now:hover {
  background-color: #500206;
  cursor: pointer;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left span {
  color: #e50914;
  font-size: 18px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left p {
  text-align: start;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .first-title {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("../../../assets/img/texure.jpg");
  color: transparent;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .carousel .carousel-item .carousel-caption .carusel-content .content-left .first-title {
    font-size: 50px;
  }
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film #gp {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film #gp p {
  margin-bottom: 0;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film #gp .gp {
  width: 30px;
  height: 28px;
  background-color: rgb(83, 83, 83);
  color: white;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film .imdb {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film .imdb h4 {
  margin-bottom: 0;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-left .info-film .imdb img {
  height: 50px;
  width: 70px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right {
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right a {
  position: relative;
  width: 90px;
  height: 80px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right a::after, .carousel .carousel-item .carousel-caption .carusel-content .content-right a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e50914;
  opacity: 0.6;
  border-radius: 50%;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right a::before {
  animation: pulse 2s ease-out infinite;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right a::after {
  animation: pulse 2s 1s ease-out infinite;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right a i {
  font-size: 24px;
}
.carousel .carousel-item .carousel-caption .carusel-content .content-right p {
  font-size: 24px;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 991px) {
  .carousel .carousel-item .carousel-caption .carusel-content .content-right {
    padding-left: 0;
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .carousel .carousel-item .carousel-caption .carusel-content .content-left {
    font-size: 16px;
  }
  .carousel .carousel-item .carousel-caption .carusel-content .content-left .first-title {
    font-size: 40px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
#upcoming .upcoming {
  cursor: pointer;
}
#upcoming .upcoming .left-cards {
  border: none;
}
#upcoming .upcoming .left-cards:hover img {
  opacity: 0.8;
}
#upcoming .upcoming .left-cards:hover .play-overlay {
  display: block;
}
#upcoming .upcoming .left-cards .content {
  padding: 5px 8px;
  background-color: #272626;
  color: rgba(119, 119, 119, 0.6862745098);
}
#upcoming .upcoming .left-cards .content h4 {
  font-size: 14px;
  color: white;
}
#upcoming .upcoming .left-cards .content p {
  font-size: 13px;
}
#upcoming .upcoming .left-cards .play-overlay {
  position: absolute;
  transition: 1s;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: none;
}
#upcoming .upcoming .left-cards .play-overlay a {
  color: white;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#upcoming .upcoming .left-cards .play-overlay a::after, #upcoming .upcoming .left-cards .play-overlay a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e50914;
  opacity: 0.6;
  border-radius: 50%;
}
#upcoming .upcoming .left-cards .play-overlay a::before {
  animation: pulse 2s ease-out infinite;
}
#upcoming .upcoming .left-cards .play-overlay a::after {
  animation: pulse 2s 1s ease-out infinite;
}
#upcoming .upcoming .left-cards .play-overlay a i {
  font-size: 16px;
}
#upcoming .upcoming .left-cards .star-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 100px;
       column-gap: 100px;
  position: absolute;
  bottom: 30%;
  width: 100%;
}
#upcoming .upcoming .left-cards .star-time p {
  margin-bottom: 0;
}
#upcoming .upcoming .left-cards .star-time .star {
  display: flex;
  color: rgb(226, 226, 3);
  display: flex;
  align-items: center;
}
#upcoming .upcoming .left-cards .star-time .time {
  color: white;
}
@media screen and (max-width: 991px) {
  #upcoming .upcoming .left-cards .star-time {
    bottom: 10%;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  #upcoming .upcoming .left-cards .star-time {
    bottom: 20%;
    font-size: 20px;
  }
}
#upcoming .upcoming .left-cards img {
  width: 100%;
  position: relative;
  transition: 1s;
}
#upcoming .upcoming .must-have-series {
  padding-left: 50px;
}
@media screen and (max-width: 991px) {
  #upcoming .upcoming .must-have-series {
    padding-left: 0;
  }
}
#upcoming .upcoming .must-have-series .right-cards {
  padding: 7px;
  border: none;
  border-radius: 0;
  background-color: #272626;
  color: white;
}
#upcoming .upcoming .must-have-series .right-cards .right-all-content {
  display: flex;
}
#upcoming .upcoming .must-have-series .right-cards .right-all-content p {
  margin-bottom: 0;
}
#upcoming .upcoming .must-have-series .right-cards .right-all-content .right-content {
  padding-left: 20px;
}
#upcoming .upcoming .must-have-series .right-cards .right-all-content .right-content .star-icon {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: rgb(201, 201, 2);
}
#upcoming .upcoming .must-have-series .right-cards .right-all-content .img img {
  width: 50px;
  height: 50px;
}

.suggested-container {
  padding: 80px 5%;
}
.suggested-container .suggested-title {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggested-container .suggested-title h3 {
  text-align: center;
  position: relative;
  color: white;
}
.suggested-container .suggested-title h3::after {
  content: "";
  height: 2px;
  background-color: #e50914;
  width: 30%;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10px 0;
}
.suggested-container .card {
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.suggested-container .card:hover .overlay {
  top: 0;
}
.suggested-container .card:hover img {
  transform: scale(1.2);
}
.suggested-container .card .title {
  position: absolute;
  bottom: 0;
  left: 2%;
  color: white;
  z-index: 100;
}
.suggested-container .card .title h2 {
  font-size: 18px;
}
.suggested-container .card .title p {
  color: rgba(223, 220, 220, 0.4666666667);
}
.suggested-container .card .overlay {
  position: absolute;
  transition: 1s;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 99;
}
.suggested-container .card .overlay .overlay-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.suggested-container .card .overlay .overlay-content a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.5s;
}
.suggested-container .card .overlay .overlay-content a:hover {
  border-color: #e50914;
  color: #e50914;
  cursor: pointer;
}
.suggested-container .card img {
  transition: 1s;
}
@media screen and (max-width: 991px) {
  .suggested-container {
    padding: 80px 30px;
  }
}

#best-movie {
  background-image: url("../../../assets/img/avatar-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
  color: rgb(255, 255, 255);
}
#best-movie .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}
#best-movie .best-movie .best-movie-row {
  height: 90vh;
}
#best-movie .best-movie .best-movie-row .best-movie-col {
  row-gap: 10px;
  z-index: 88;
  padding: 0;
}
#best-movie .best-movie .best-movie-row .best-movie-col h1 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("../../../assets/img/texure.jpg");
  color: transparent;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  #best-movie .best-movie .best-movie-row .best-movie-col h1 {
    font-size: 50px;
  }
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film p {
  margin-bottom: 0;
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film .imdb {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film .imdb img {
  width: 60px;
  height: 60px;
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film #gp {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
#best-movie .best-movie .best-movie-row .best-movie-col .info-film #gp .gp {
  width: 30px;
  height: 28px;
  background-color: rgb(83, 83, 83);
  color: white;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#best-movie .best-movie .best-movie-row .best-movie-col .about-film {
  color: rgba(207, 206, 206, 0.4666666667);
}
#best-movie .best-movie .best-movie-row .best-movie-col .play-now {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 9em;
  height: 3em;
  position: absolute;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(90deg, #036491, #861e59, #d4bf01, #06567a);
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  z-index: 1;
}
#best-movie .best-movie .best-movie-row .best-movie-col .play-now:hover {
  animation: animationhover 8s linear infinite;
  border: none;
}
#best-movie .best-movie .best-movie-row .best-movie-col .play-now::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #036491, #861e59, #d4bf01, #06567a);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}
#best-movie .best-movie .best-movie-row .best-movie-col .play-now:hover::before {
  filter: blur(20px);
}
#best-movie .best-movie .best-movie-row .img-col {
  padding-left: 50px;
  z-index: 88;
}
#best-movie .best-movie .best-movie-row .img-col img {
  max-width: 100%;
  height: auto;
}

@keyframes animationhover {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
#trailers {
  padding: 50px 0;
}
#trailers .trailers .trailers-title {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
#trailers .trailers .trailers-title h3 {
  text-align: center;
  position: relative;
  color: white;
}
#trailers .trailers .trailers-title h3::after {
  content: "";
  height: 2px;
  background-color: #e50914;
  width: 30%;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10px 0;
}
#trailers .trailers .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#trailers .trailers .cards .trailer-content {
  padding-top: 10px;
  text-align: center;
}
#trailers .trailers .cards .trailer-content h5 {
  color: rgba(255, 255, 255, 0.692);
}
#trailers .trailers .cards .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}
#trailers .trailers .cards .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#all-movies {
  padding: 50px 5%;
}
#all-movies .movies-title {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
#all-movies .movies-title h3 {
  text-align: center;
  position: relative;
  color: white;
}
#all-movies .movies-title h3::after {
  content: "";
  height: 2px;
  background-color: #e50914;
  width: 30%;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10px 0;
}
#all-movies #load {
  display: flex;
  justify-content: center;
  align-items: center;
}
#all-movies #load .load {
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
  border: none;
}
#all-movies #load .load:hover {
  background-color: #500206;
  cursor: pointer;
}
#all-movies .all-movies .dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all-movies .all-movies .dropdowns .dropdown .btn {
  background-color: #e50914;
  color: white;
}
#all-movies .all-movies .films-cards {
  border: none;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#all-movies .all-movies .films-cards:hover .overlay {
  right: 0;
}
#all-movies .all-movies .films-cards .overlay {
  transition: 1s;
  padding-top: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  right: -100%;
}
#all-movies .all-movies .films-cards .overlay a {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 1s;
}
#all-movies .all-movies .films-cards .overlay a:hover {
  border-color: #e50914;
  color: #e50914;
}
#all-movies .all-movies .films-cards .img img {
  width: 100%;
}
#all-movies .all-movies .films-cards .movies-info {
  position: absolute;
  bottom: 0;
  color: white;
  left: 20px;
}
#all-movies .all-movies .films-cards .movies-info .imbd {
  display: flex;
  align-items: center;
}
#all-movies .all-movies .films-cards .movies-info .imbd img {
  height: 50px;
  width: 50px;
}/*# sourceMappingURL=main.css.map */