#comments {
  padding: 100px 0 100px 280px;
  .comments {
    .cards-row {
      .card {
        cursor: pointer;
        overflow: hidden;
        border: none;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
        img {
          transition: 1s;
          height: 100px;
          object-fit: cover;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      button {
        padding: 10px 50px;
        border: none;
        background-color: #006666;
        color: white;
        font-size: 18px;
        transition: 1s;
        &:hover {
          color: #e0e1dd;
          background-color: #0d1b2a;
        }
      }
    }
    p {
      color: #8690a9;
      font-size: 18px;
    }
    .comment-row {
      .comment-title {
        color: #0d1b2a;
      }
      .comment-card {
        padding: 10px;
        background-color: #b2d1d1;
        color: #0d1b2a;
        border: none;
        display: flex;
        flex-direction: row;
        column-gap: 30px;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
