#contact {
  padding-left: 300px;
  padding-top: 100px;
  .contact {
    table {
      thead {
        tr {
          th {
            text-align: center;
            background-color: #006666;
            color: #e0e1dd;
          }
        }
      }
      tbody {
        tr {
          text-align: center;

          td {
            text-align: center;
            background-color: #e0e1dd;

            vertical-align: middle;
            .fa-eye {
              background-color: #589494;
              color: white;
            }
            .fa-trash {
              background-color: #ff997c;
              color: white;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
