#films-panel {
  padding-top: 100px;
  padding-left: 300px;
  .films-panel {
    .card {
      box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
      -webkit-box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
      -moz-box-shadow: 42px 0px 199px 28px rgba(65, 90, 119, 0.75);
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../assets/img/bg\ \(1\).jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      border: none;
      .count {
        font-size: 20px;
      }
      h4 {
        font-weight: 700;
    
      }
    }
    .search-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      input {
        padding: 5px 0;
        width: 300px;
        text-indent: 5px;
        background-color: #415a77;
        border: none;
        color: white;
        &:focus{
          outline: none;
        }
        &::placeholder {
          color: white;
        }
      }
      .dropdowns {
        display: flex;
        column-gap: 30px;

        // padding-bottom: 30px;
        .dropdown {
          // display: none;
          // display: flex;

          .dropdown-menu {
            background-color: #415a77;

            li {
              &:hover {
                a {
                  color: black;
                }
              }
              a {
                transition: 1s;
                color: white;
              }
            }
          }
          button {
            color: #415a77;
          }
        }
      }
    }
    table {
      thead {
        tr {
          th {
            text-align: center;
            background-color: #415a77;
            color: #e0e1dd;
          }
        }
      }
      tbody {
        tr {
          text-align: center;

          td {
            text-align: center;
            background-color: #e0e1dd;

            vertical-align: middle;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      #load-more {
        padding: 10px 50px;
        border: none;
        background-color: #415a77;
        color: #0d1b2a;
        font-size: 18px;
        transition: 1s;
        &:hover{
         color: #e0e1dd;
          background-color: #0d1b2a;
        }
      }
    }
  }
}

.custom-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    #userModalBody {
      display: flex;
      column-gap: 20px;
      align-items: center;
      .img {
        display: flex;
        align-items: center;
        img {
          width: 200px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        .title {
          font-size: 24px;
          font-weight: 700;
          color: #415a77;
          padding: 0;
          margin: 0;
        }
        strong {
          font-size: 18px;
        }
      }
    }
    .close {
      border: none;
      background: transparent;
      span {
        font-size: 24px;
      }
    }
  }
}
