#films-panel {
  padding-top: 100px;
  padding-left: 270px;
  padding-bottom: 50px;
  .films-panel {
    .films-row {
      p {
        color: #8690a9;
        font-size: 32px;
      }
    }

    .search-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      input {
        padding: 5px 0;
        width: 300px;
        text-indent: 5px;
        background-color: #b2d1d1;
        border: none;
        color: white;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: white;
        }
      }
      .dropdowns {
        display: flex;
        column-gap: 30px;
        .dropdown {
          .dropdown-menu {
            background-color: #b2d1d1;
            li {
              &:hover {
                a {
                  color: #006666;
                }
              }
              a {
                transition: 1s;
                color: white;
              }
            }
          }
          button {
            color: #415a77;
          }
        }
      }
    }
    table {
      thead {
        tr {
          th {
            text-align: center;
            background-color: #006666;
            color: #e0e1dd;
          }
        }
      }
      tbody {
        tr {
          text-align: center;

          td {
            text-align: center;
            background-color: #e0e1dd;

            vertical-align: middle;
            .fa-eye {
              background-color: #589494;
              color: white;
            }
            .fa-trash {
              background-color: #ff997c;
              color: white;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      #load-more {
        padding: 8px 50px;
        border: none;
        background-color: #006666;
        color: white;
        font-size: 18px;
        transition: 1s;
        &:hover {
          color: #e0e1dd;
          background-color: #0d1b2a;
        }
      }
    }
  }
}

.custom-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    #userModalBody {
      display: flex;
      column-gap: 20px;
      align-items: center;
      .img {
        display: flex;
        align-items: center;
        img {
          width: 200px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        .title {
          font-size: 24px;
          font-weight: 700;
          color: #415a77;
          padding: 0;
          margin: 0;
        }
        strong {
          font-size: 18px;
        }
      }
    }
    .close {
      border: none;
      background: transparent;
      span {
        font-size: 24px;
      }
    }
  }
}
