header {
  padding: 10px 0;
  background-color: #415a77;

  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -webkit-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  -moz-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .logo-menu {
      display: flex;
      column-gap: 50px;
      align-items: center;
      //   margin-right: 150px;
    }
    .admin {
      display: flex;

      align-items: center;
      column-gap: 20px;
      .letter {
        position: relative;
        a{
          color: white;
        }
        .count{
          position: absolute;
          height: 15px;
          width: 15px;
          background-color: #0d1b2a;
          border-radius: 50%;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -7px;
          left: 15px;
        }
      }
      .dropdown {
        button {
          color: white;
        }
      }
    }
  }
}
#left-bars {
  background-color: #415a77;
  //   display: none;
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 1111;
  top: 0;

  .left-bars {
    box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
    -webkit-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
    -moz-box-shadow: 14px -1px 115px 0px rgba(65, 90, 119, 0.44);
    .left-bars-title {
      //   display: none;
      padding-left: 10px;
      .admin-info {
        padding: 15px 0 20px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        .admin-name {
          display: flex;
          flex-direction: column;

          h5 {
            font-size: 18px;
            margin-bottom: 0;
            color: white;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .bars-content {
        color: #e0e1dd;
        padding-left: 0;
        padding-top: 30px;

        li {
          padding-bottom: 30px;
          display: flex;
          align-items: center;
          column-gap: 10px;
          i {
            color: #1b263b;
          }
          a {
            color: white;
          }
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

#admin-panel {
  padding-left: 300px;
  padding-top: 80px;
  .admin-panel {
    .title {
      padding-bottom: 50px;
      color: #0d1b2a;
      position: relative;
      &::after {
        content: "";
        width: 30%;
        height: 2px;
        background-color: #0d1b2a;
        display: block;
        margin: 10px 0;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
      }
    }

    table {
      thead {
        tr {
          th {
            text-align: center;
            background-color: #415a77;
            color: #e0e1dd;
          }
        }
      }
      tbody {
        tr {
          // display: flex;
          text-align: center;

          td {
            text-align: center;
            background-color: #e0e1dd;
            // padding: 10px;
            vertical-align: middle;

            img {
              width: 40px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    background-color: #e0e1dd;
    strong {
      background: linear-gradient(
        90deg,
        #4169e1,
        #5768df,
        #8164d7,
        #aa60c8,
        #cc60b3,
        #e3689c,
        #ed7889,
        #ee8c7e,
        #e99e7c,
        #e4ac7f,
        #e0b585,
        #deb887,
        orange
      );
      background-size: 200%;
      /* Background Text Clip */
      /* webkit vendor prefix start */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* webkit vendor prefix end */
      background-clip: text;
      animation: gradient-text-animation 3s alternate infinite;
      font-size: 18px;
    }
    h5 {
      font-size: 20px;
      font-weight: 700;
      // padding: 10px 0;
      padding-bottom: 20px;
      color: #4169e1;
    }
    p {
      font-size: 18px;
    }
    .close {
      border: none;
      background: transparent;
      span {
        font-size: 24px;
      }
    }
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
