.all-movies-swipper {
  width: 100%;
  // height: 100vh;
  position: relative;
  .swiper-wrapper {
    .swiper-slide {
      // text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 100vh;
      height: 80vh;
      width: 100vw;
      // padding-top: 30px;

      .mermarid {
        // background-color: #1f4c65;
        width: 100%;
        height: 100%;
        object-fit: fill;
        animation: slide-in 6s ease-in-out infinite alternate;
      }

      .content {
        position: absolute;
        left: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        h2 {
          -webkit-background-clip: text;
          background-clip: text;
          background-image: url("../../assets/img/texure.jpg");
          color: transparent;
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase;
          @media screen and (max-width: 991px) {
            font-size: 50px;
          }
        }
        p {
          color: white;
        }
        .btn {
          margin-top: 15px;
          // font-size: 1.2rem;
          padding: 15px 20px;
          border: none;
          outline: none;
          border-radius: 0.4rem;
          cursor: pointer;
          text-transform: uppercase;
          background-color: rgb(14, 14, 26);
          color: rgb(234, 234, 234);
          font-weight: 700;
          transition: 0.6s;
          box-shadow: 0px 0px 60px #1f4c65;
          -webkit-box-reflect: below 10px
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

          &:active {
            transform: scale(0.92);
          }

          &:hover {
            background: rgb(2, 29, 78);
            background: linear-gradient(
              270deg,
              rgba(2, 29, 78, 0.681) 0%,
              rgba(31, 215, 232, 0.873) 60%
            );
            color: rgb(4, 4, 38);
          }
        }
      }
    }
  }
}

#all-movies {
  padding: 50px 0;

  .all-movies {
    .all-movies-row {
      .left-col {
        padding-right: 50px;
        @media screen and (max-width: 991px) {
          padding-right: 10px;
        }
        .sortDrop {
          .dropdown-toggle {
            width: 100%;
            //  color: white;
          }
          .dropdown-menu {
            li{
              a{
                transition: 0.5s;
              }
              &:hover{
                a{
                  color: black !important;
                }
              }
            }
          }
          
          
        }
      }
      .search {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #181818;
        // position: relative;
        input {
          width: 100%;
          padding: 5px 5px;
          background-color: #141414;
          border: none;
        }
        input[type="text"]:focus {
          border: 3px solid #e50914;
        }
        i {
          color: white;
          font-size: 12px;
          padding: 13px;
          background-color: #e50914;
        }
      }
      .right-card {
        background-color: #181818;
        padding: 10px;
        h1 {
          color: white;
          font-size: 22px;
        }
        .card {
          border: none;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          color: white;
          padding: 10px;
          //   align-items: center;

          img {
            width: 60px;
            height: 60px;
          }
          .content {
            padding-left: 20px;
            .calendar {
              padding-top: 8px;
              display: flex;
              align-items: center;
              column-gap: 8px;
              i {
                color: #e50914;
              }
            }
          }
        }
      }
      .categories-col {
        // padding: 10px;
        height: 300px;
        overflow-y: scroll;
        h1 {
          color: white;
          font-size: 22px;
          padding-bottom: 20px;
        }
        .categories-ul {
          padding: 20px;
          background-color: #181818;
          ul {
            color: white;
            padding-left: 0;
            li {
              padding-bottom: 20px;
              &::after {
                content: "";
                height: 1px;
                width: 100%;
                background: #85858586;
                display: block;
              }
              a {
                color: #d1d0cf;
              }
            }
          }
        }
      }
      .tags-col {
        .tags {
          padding: 10px;
          background-color: #181818;
          h1 {
            color: white;
            font-size: 22px;
            padding: 20px 10px;
          }
          ul {
            padding-left: 0;
            li {
              display: inline-block;
              // padding-bottom: 5px;
              margin-bottom: 15px;
              margin-left: 10px;
              a {
                color: white;
                border-radius: 8px;
                padding: 5px 15px;
                background-color: #242424;
              }
            }
          }
        }
      }
      .right-col {
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border: none;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #e50914;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            transition: 0.5s;
            &:hover {
              background-color: #500206;
              cursor: pointer;
            }
          }
        }
        .card {
          position: relative;
          border: none;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 250px; /* İstediğiniz boyutu burada belirleyebilirsiniz */
            object-fit: cover;
          }

          &:hover {
            .overlay {
              background: rgb(0, 0, 0, 0.8);
            }
            .icons {
              right: 10px;
            }
          }

          .overlay {
            transition: 1s;
            background: rgb(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;

            .card-content {
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              position: absolute;
              // top: 0;
              left: 10px;
              bottom: 5px;
              color: white;
              .rating {
                i {
                  color: yellow;
                }
              }
              h4 {
                font-size: 18px;
                margin-bottom: 0;
              }
              p {
                font-size: 16px;
                color: #7777;
              }
            }
          }
          .icons {
            transition: 1s;
            position: absolute;
            flex-direction: column;
            display: flex;
            row-gap: 10px;
            right: -100%;
            bottom: 10px;
            div {
              width: 40px;
              height: 40px;
              background-color: #7777;
              border-radius: 50%;
              @include flexbox(center);
            }
            a {
              color: #e50914;
              border-radius: 50%;
              background-color: white;
              width: 30px;
              height: 30px;
              @include flexbox(center);
              transition: 1s;
              cursor: pointer;
              &:hover {
                color: white;
                background-color: #e50914;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
