#hero-banner {
  background-image: url("../../../assets/img/bg\ \(1\).jpg");
  padding: 150px;
  position: relative;
.overlay{
    background: rgb(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
  .hero-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    h2 {
      color: white;
    }
    .links {
      display: flex;
      column-gap: 5px;
      a,
      p {
        color: #e50914;
      }
    }
  }
}
