header {
  padding: 10px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 1s;
  .header {
    @include flexbox;
    img {
      width: 60px;
      height: 60px;
    }
    nav {
      .nav-ul {
        margin-bottom: 0;
        @include flexbox;
        column-gap: 40px;

        li {
          .dropdown:hover .dropdown-menu {
            display: block;
          }
          .dropdown {
            .dropdown-menu {
              background-color: rgb(0, 0, 0, 0.9);
              .premium {
                color: #e50914;
              }
            }
          }
          a {
            color: white;
            transition: 0.5s;
            &:hover {
              color: #e50914;
            }
          }
        }
      }
    }
    .right-nav {
      .fa-bars {
        font-size: 18px;
        color: white;
        display: none;
      }
      @include flexbox;
      column-gap: 30px;
      .search-user {
        display: flex;
        align-items: center;
        .fa-search {
          color: white;
          font-size: 18px;
          display: none;
        }
        .search-input {
          outline: none;
          border: none;
          padding: 7px 20px;
          border-radius: 50px;
          background-color: rgb(0, 0, 0, 0.5);
          color: white;
          font-size: 14px;

          &::placeholder {
            color: white;
            font-weight: 200;
          }
        }
      }
      .notification {
        position: relative;
        span {
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          font-size: 12px;
          @include flexbox;
          justify-content: center;
          top: -8px;
          left: 12px;
          color: white;
        }
        .fa-bell {
          color: white;
          font-size: 18px;
        }
      }
      .account {
        position: relative;
        cursor: pointer;
        .sing-in-up {
          display: none;
          width: 300px;
          height: 100px;
         background: rgb(0, 0, 0,0.8);
          padding-left: 20px;
          // display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          right: 15%;
          top: 100%;
          margin-top: 29px;
          border-radius: 10px;
          row-gap: 10px;
          li {
            display: flex;
            align-items: center;
            column-gap: 10px;
            a {
              color: white;
            }
            p {
              color: white;
            }
          }
          &.active{
            display: flex;
          }
        }
        .fa-user {
          color: white;
          font-size: 18px;
        }
       
      }
    }
  }
  @media screen and (max-width: 991px) {
    .header {
      nav {
        display: none;
      }
      .right-nav {
        .fa-bars {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .header {
      .right-nav {
        position: relative;
        .search-user {
          .search-input {
            position: absolute;
            top: 120%;
            right: 50%;

            display: none;
            &.show-inp {
              display: block;
            }
          }
          .fa-search {
            display: block;
          }
        }
      }
    }
  }
}

#burger-menu {
  position: absolute;
  z-index: 9999;
  background-color: #141414;
  display: none;
  width: 50%;
  height: 100%;
  transition: 2s;
  left: 0;
  .img-icon {
    padding: 50px 0;
    @include flexbox;
    justify-content: space-around;
    i {
      font-size: 36px;
      color: #e50914;
    }
    img {
      width: 80px;
      height: 80px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    padding-top: 50px;
    li {
      a {
        color: white;
        font-size: 24px;
      }

      &::after {
        content: "";
        display: block;
        width: 70%;
        height: 1px;
        background-color: white;
        margin: 7px 0;
      }
    }
  }

  &.show {
    display: block;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
