#upcoming {
  .upcoming {
    cursor: pointer;
    h3 {
      // text-align: center;
      position: relative;
      color: white;
      font-weight: 400;
      font-size: 24px;
      &::after {
        content: "";
        height: 2px;
        background-color: #e50914;
        width: 10%;
        display: block;
        position: absolute;
        // left: 50%;
        // transform: translate(-50%);
        // margin: 10px 0;
        margin: 5px 0;
      }
    }
    .left-cards {
      border: none;
      // height: 300px;
      height: 100%;
      &:hover img {
        opacity: 0.8;
      }
      &:hover .play-overlay {
        display: block;
      }
      .content {
        padding: 5px 8px;
        background-color: #272626;
        color: #777777af;
        // height: 100%;
        height: 71px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          font-size: 14px;
          color: white;
        }
        p {
          font-size: 13px;
        }
      }
      .play-overlay {
        position: absolute;
        transition: 1s;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: none;
        a {
          color: white;
          position: relative;
          width: 40px;
          height: 40px;
          border: 1px solid white;
          border-radius: 50%;
          @include flexbox;
          justify-content: center;
          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #e50914;
            opacity: 0.6;
            border-radius: 50%;
          }
          &::before {
            animation: pulse 2s ease-out infinite;
          }
          &::after {
            animation: pulse 2s 1s ease-out infinite;
          }
          i {
            font-size: 16px;
          }
        }
      }
      .star-time {
        @include flexbox;
        justify-content: space-between;
        // display: flex;
        // column-gap: 100px;
        padding: 0 10px;
        position: absolute;
        bottom: 25%;
        width: 100%;
        p {
          margin-bottom: 0;
        }
        .star {
          display: flex;
          color: rgb(226, 226, 3);
          display: flex;
          align-items: center;
        }
        .time {
          color: white;
        }
        @media screen and (max-width: 991px) {
          bottom: 17%;
          // justify-content: space-between;
          // padding: 0 10px;
          font-size: 24px;
        }
        @media screen and (max-width: 767px) {
          // bottom: 20%;
          font-size: 20px;
        }
      }
      .img {
        img {
          width: 100%;
          position: relative;
          transition: 1s;
          height: 100%;
        }
      }
    }
    .must-have-series {
      padding-left: 50px;
      @media screen and (max-width: 991px) {
        padding-left: 0;
      }
      .right-cards {
        padding: 7px;
        border: none;
        border-radius: 0;
        background-color: #272626;
        color: white;
        .right-all-content {
          display: flex;
          p {
            margin-bottom: 0;
          }
          .right-content {
            padding-left: 20px;
            .star-icon {
              display: flex;
              align-items: center;
              column-gap: 10px;
              color: rgb(201, 201, 2);
            }
          }
          .img {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
