#basket {
  padding: 50px 0;

  .basket {
    .basket-cards {
      padding: 20px;
      background: transparent;
      color: white;
      .card {
        border: none;
        .card-body {
          background-color: #272626;
          border: none;
          button {
            height: 50px;
            width: 150px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease-in-out;

            &:hover {
              box-shadow: 0.5px 0.5px 150px #252525;
            }

            &.type1 {
              &::after {
                content: "Thanks";
                height: 50px;
                width: 150px;
                background-color: #750000;
                color: #fff;
                position: absolute;
                top: 0%;
                left: 0%;
                transform: translateY(50px);
                font-size: 1.2rem;
                font-weight: 600;
                @include flexbox(center);
                transition: all 0.5s ease-in-out;
              }

              &::before {
                content: "Submit";
                height: 50px;
                width: 150px;
                background-color: #fff;
                color: #750000;
                position: absolute;
                top: 0%;
                left: 0%;
                transform: translateY(0px) scale(1.2);
                font-size: 1.2rem;
                font-weight: 600;
                @include flexbox(center);
                transition: all 0.5s ease-in-out;
              }

              &:hover::after {
                transform: translateY(0) scale(1.2);
              }

              &:hover::before {
                transform: translateY(-50px) scale(0) rotate(120deg);
              }
            }
          }

          .user-img {
            width: 45px;
            border-radius: 10px;
          }
          a {
            padding-right: 10px;
            img {
              height: 40px;
            }
          }
          img {
            width: 65px;
          }
          .title {
            color: white;
            padding-left: 20px;
            .genres {
              font-size: 15px;
            }
          }
          .price {
            @include flexbox(center);
            color: white;
            .price-title {
              width: 65px;
              h5 {
                margin-bottom: 0;
              }
            }
            a {
              transition: 1s;
              .fa-trash-alt {
                color: rgb(117, 0, 0);
              }
              &:hover {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
  }
}
